@charset "UTF-8";
@media screen and (min-width:390px) {
	.div-page {
		width: 380px;
	}
}

body {
	background-color: #000;
	font-family: Archivo, sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #ddd;
	line-height: 1.3;
}

section {
	margin: 20px 5px;
}
.div-page {
	width: 380px;
}
.div-page iframe {
	width: 380px;
	height: 213.75px;
}
.div-page p {
	color: #ccc;
}
b {
	font-size: 14px;
	font-weight: 700;
	color: #666;
}
