@charset "UTF-8";

body {
	background-color: #000;
	font-family: Archivo, sans-serif;
	font-weight: 700;
}
section {
/* position: relative; */
}

.div-page1 {
	width: 100dvw;
	height: 100dvh;
}
.div-page1 .div-notice {
  margin: 20px 10px;
	font-size: 17px;
	color: #999;
	line-height: 1.3;
}
.div-page1 .div-notice .comment {
	font-size: 14px;
	font-weight: 400;
	color: #333;
	line-height: 1.3;
}
