@charset "UTF-8";

body {
	background-color: #000;
	font-family: Archivo, sans-serif;
	font-size: 15px;
	font-weight: 400;
	color: #666;
	line-height: 1.2;
}

section {
	width: 390px;
	padding: 10px;
	margin: 0 auto;
}
.div-page {
	margin: 20px auto;
}
.div-page iframe {
	width: 390px;
}
.div-page p {
	font-size: 17px;
	color: #aaa;
}
